/*header {
  border-bottom: 5px solid #f78536;
}
body {
  background-color: #dfebed;
}

.title {
  color: #497285;
  font-size: 80px;
}*/
body {
	font-family: Consolas, monaco, monospace;
}
.row {
	font-size: 1.8rem;
	border: 5px 5px;
	border-radius: 5px;
	color: black;
	background-color: white;
	/*opacity: 0.7;*/
	/*filter: alpha(opacity=60);*/
	margin-top: 13px;
	width: 60%;
	display: inline-block;
	text-align: center;
	padding: 15px 15px;
}
a {
	color: #E68A09;
	text-decoration: underline;
}
/*.mainInfo {
	text-align: center;
	width: 45%;
	display: inline-block;
}
.subInfo {
	text-align: center;
	width: 45%;
	display: inline-block;
}*/
.description {
	background-color: white;
	width: 60%;
	color: black;
	font-size: 1.7rem;
	margin: 0 auto;
	border-radius: 5px;
	padding: 15px 15px;
	text-align: left;
}
ul {
	padding: 0;
}
.posttitle {
	font-size: 2.3rem;
	color: rgba(230, 138, 9, 1)
}


.votes {
	float: right;
	position: relative;
}

.votes .numberOfVotes {
	top: 6px;
  position: relative;
  font-size: 24px;
  margin: 0 10px;
}


.span3 img {
	width: 27px;
	height: 32px;
	padding: 2px;
	cursor: pointer;

}

.voted{
	border-radius: 3px;
	background-color: rgba(119, 181, 98, 0.5);
}
