<div class='login-page'>
  <h1>POST PAGE</h1>
  <form id="filterbox" class="inputBox">
  		<input class="filterbox" type='text' ng-model="searchString" placeholder="Search for..." style="width:17%; height: 5%; color:black;"/>
  	   <select ng-model="categories" class="dropdown" ng-options="item.category for item in fetchedPosts | unique:'category'"></select> 
  </form>

  	<button ui-sref="createPost" class="btn btn-white btn-outline btn-lg btn-rounded" style="margin-top: 10px;">Create Post</button>
  	<div class="container">
  	<div ng-repeat='item in fetchedPosts | filter: searchString'>
  		<div class="row">
  	  <div class="mainInfo">
  			<div class="column column-50 column-offset-25">
          <div class="row-fluid">
            <span class="span3">
              <span><a ui-sref="viewPost" class="posttitle" ng-click="viewPost(item)" ng-model="item">{{ item.title }}</a></span>
            </span>
            <span class="span3 votes">
              <img src="../assets/thumbsUp.png" ng-class="{'voted': item.highlight}" alt="thumbsup" ng-click="increment(item)" /><span class="numberOfVotes">{{ item.votes }}</span>
            </span></br>
            <span class="span3">
        	    <span class="username">by:{{ item.username }}, </span>
            </span>
            <span class="span3">
              <span>category:{{ item.category }}</span>
            </span>
          </div>
  	  	</div>
  		</div>
  	  <!-- <div class="subInfo">
  			<div class="column column-50 column-offset-25">
  			</div>
  	  </div> -->
  	</div>

  	  <!-- <div>{{ item.message }}</div> //This should be displayed in a seperate view for the actual post -->
  	</div>
  	</div>
</div>
