<div ng-include src="'../navbar.html'"></div>

<div class='all-posts-page'>
  <div class="header">
  <form class='all-posts-filters'>
      <input type='text' ng-model="searchString" placeholder="Search for..."/>
      <select ng-model="selectedCategory" ng-options="item for item in uniqueCategories">
      </select>
      <select ng-model="sortType" >
        <option value="date">Date</option>
        <option value="votes">Votes</option>
      </select>
  </form>
  </div>

  	<!-- <h7>Search by Category</h7> -->
  	<!-- <select ng-model="categories" class="dropdown" ng-options="item.category for item in fetchedPosts | unique: 'categories'"></select> -->

    <div ng-include src="'../postList.html'"></div>

</div>
