<style>
	input {
	  width: 350px;
	  height: 30px;
	  border-radius: 7px;
	}

	.row {
		opacity: 1;
		background-color: transparent;
		border: none;
	}
	
</style>

<div ng-controller='signupController'>

	<div class="container">
		<div class='signup'>
			<div class="row">
	    <div class="column"></div>
	    <div class="column"><center><H3>Sign up for a new account</H3></center></div>
	    <div class="column"></div>
	  </div>

		<div class="row">
			<div class="column"></div>
			<div class="column"><input placeholder='username' ng-model='user.username'></div>
			<div class="column"></div>
		</div>

		<div class="row">
			<div class="column"></div>
			<div class="column"><input placeholder='password'ng-model='user.password'></div>
			<div class="column"></div>
		</div>

		<div class="row">
			<div class="column"></div>
			<div class="column"><center><button ng-click='signup(user)' ng-model='user'>Sign Up</button></center></div>
			<div class="column"></div>
		</div>

		<div class="row">
			<div class="column"></div>
			<div class="column"><h4 style="padding: 25px"><center><p>Go Back <a ng-href="/#/signin">home</a></p></center></a></h4></div>
			<div class="column"></div>
		</div>
	</div>















	</div>
</div>
