
<div class='login-page'>
		<!-- <object type="image/svg+xml" data="../../diy.svg" class="user-avatar"></object> -->
		<img src="../../DIY.png"/>

		<div class="entranceForm">
			<form class="enter">
				<H3>Sign up for a new account</H3>

				<div class="groups">
					<input type="text" placeholder='username' ng-model='user.username'>
					<span class='bar'><span>
				</div>

				<div class="groups">
					<input type="text" placeholder='password' ng-model='user.password'>
					<span class='bar'><span>
				</div>

				<a class='button' ng-click='signup(user)' ng-model='user' value='Sign In'>Sign Up</a>
			</form>
		</div>

		<div><a ng-href="/#/signin">Go Back Home</a></div>
</div>











	</div>
